<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 상단 NAV -->
<nav th:fragment="topnav" class="navbar navbar-top fixed-top navbar-expand bg-transparent" id="navbarDefault">
    <div class="collapse navbar-collapse justify-content-between">
        <div class="navbar-logo">

            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse"
                    aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
                    class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1" href="index.html">
                <div class="d-flex align-items-center">
                </div>
            </a>
        </div>
    </div>
</nav>

</html>